<.header>
  {@room.name}
</.header>


<.back navigate={~p"/rooms"}>Back to lobby</.back>

<.modal :if={@live_action == :edit} id="room-modal" show on_cancel={JS.patch(~p"/rooms/#{@room}")}>
  <.live_component
    module={NewchatWeb.RoomLive.FormComponent}
    id={@room.id}
    title={@page_title}
    action={@live_action}
    room={@room}
    patch={~p"/rooms/#{@room}"}
  />
</.modal>
